<div class="options">
    <button class="bars" (click)="onClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <button class="icon">
        <mat-icon>group_add</mat-icon>
        <span class="icon_tool-tip">Add Group</span>
    </button>
    <button class="icon">
        <mat-icon>person_add</mat-icon>
        <span class="icon_tool-tip">Add Person</span>
    </button>
    <button class="icon">
        <mat-icon>settings</mat-icon>
            <span class="icon_tool-tip">Settings</span>
    </button>
</div>
