<div class="options">
    <button class="bars" (click)="onClick()">
        <mat-icon>menu</mat-icon>
    </button>

    <button class="icon" (click)="closeModal1()">
        <mat-icon>person_add</mat-icon>
        <span class="icon_tool-tip">Add Person</span>
    </button>

    <app-add-user [appUser]="appUser" [isVisible]="isModalVisible1" (closeModalEvent)="closeModal1()">

    </app-add-user>

    <button class="icon" (click)="closeModal2()">
        <mat-icon>group_add</mat-icon>
        <span class="icon_tool-tip">Add Group</span>
    </button> 

    <app-add-group [appUser]="appUser" [isVisible]="isModalVisible2" (closeModalEvent)="closeModal2()">
    </app-add-group>

    <button class="icon" (click)="toggleCreateGroupModal()">
        <mat-icon>group</mat-icon>
        <span class="icon_tool-tip">Create Group</span>
    </button>
    <app-create-group [isVisible]="isCreateGroupModalVisible" (closeModalEvent)="toggleCreateGroupModal()"></app-create-group>
</div>
