@import '../../../../styles.scss';

.register-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

.register-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $LighterDimGray;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 500;
    width: 80%;
    max-width: 600px;
    padding: 30px 30px 0 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
            .register-title {
                    text-align: left;
                    margin-left: 15px;
                    font-size: 36px;
                    color: $White;
                    margin-bottom: 25px;
                    font-weight: bold;
                }
            
                .register-subtitle {
                    margin-left: 15px;
                    text-align: left;
                    font-size: 30px;
                    color: $White;
                }
            hr{
                color: $White;
                width: 100%;
            }
    .register-form{
        margin-top: 15px;
        display: grid;
        grid-template-areas:
            "firstname lastname"
            "email email"
            "password password"
            "birthday birthday"
            "button button";
            grid-template-rows: repeat(5,1fr);
            grid-template-columns: repeat(2,1fr);
            gap: 25px 10px;
        #birthday{
            grid-area: birthday;
        }
        #firstname{
            grid-area: firstname;
        }
        #lastname{
            grid-area: lastname;
        }
        #email{
            grid-area: email;
        }
        #password{
            grid-area: password;
        }
        #button{
            grid-area: button;
        }
        .register-input{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px 0;
            label{
                color: $White;
                font-size: 20px;
            }
            input{
                height: 35px;
                font-size: 18px;
                background-color: $LightGray;
                border: none;
                outline: none;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        .register-select{
            display: flex;
            flex-direction: row;
            gap: 0 20px;
            justify-content: center;
            
            select{
                background-color: $LightGray;
                width: 170px;
                height: 40px;
                padding: 10px 15px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
            }
        }
        .register-button{
            border: none;
            background-color: $Green;
            color: $White;
            border-radius: 10px;
            width: 180px;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            justify-self: center;

            &:hover{
                background-color: $LightGray;
                color: $Green;
                }
            }
        }
    }


.close {
    cursor: pointer;
    font-size: 40px;
    margin-left: auto;
    color: $White;
}