<div class="register-overlay" *ngIf="isVisible" (click)="closeModal()"></div>
<div class="register-content" *ngIf="isVisible">
        <span class="close" (click)="closeModal()">&times;</span>
        <p class="register-title">Sign Up</p>
        <p class="register-subtitle">It will only take a minute</p>
        <hr>
        <form class="register-form">
            <div class="register-input" id="firstname">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstnameInput">
            </div>
            <div  class="register-input" id="lastname">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastnameInput">
            </div>
            <div class="register-input" id="email">
                <label for="email">Email</label>
                <input type="email"  id="emailInput">
            </div>
            <div class="register-input" id="password">
                <label for="password">Password</label>
                <input type="password"  id="passwordInput">
            </div>
            <div id="birthday" class="register-select">
                <select name="" id="">
                    <option value="">Day</option>
                </select>
                <select name="" id="">
                    <option value="">Month</option>
                </select>
                <select name="" id="">
                    <option value="">Year</option>
                </select>
            </div>
            <input type="submit" class="register-button" id="button" value="Create Account">
        </form>
</div>
