<div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()"></div>
<div class="modal-content" *ngIf="isVisible">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-search">
        <div class="search-icon">
            <mat-icon>search</mat-icon>
        </div>
        <input placeholder="Find a user" class="search-input">
    </div>
    <div class="search-result">
        <div class="result-info" *ngFor="let item of result">
            <div class="result-content">
                <div class="result-image"></div>
                <div class="result-title">{{item.userName}}</div>
            </div>
            <button class="result-button" (click)="addFriend(item.id)">Add to Friend</button>
        </div>
    </div>
</div>

